@import "../../../assets/css/vars.scss";
@import "../../../assets/css/effects.scss";

.navbar-wrapper {
  @include cubicTransition();
  width: 100%;
  display: flex;
  flex-direction: column;
  height: $navbarHeight;
  box-shadow: 1px 1px 2px $verylightgrey, 2px 2px 8px $verylightgrey;
}
.navbar-start {
  display: flex;
  padding: 0 10px;
  margin: auto;
  height: 50px;
  align-items: center;
  &__item {
    padding: 5px 0px;
  }
  &--logo {
    height: 50px;
  }
}
.navbar-end {
  margin: auto;
  padding: 0 10px;
  &__item {
    padding: 5px 0px;
  }
}

@media screen and (min-width: $MQ600Min) {
  .navbar-wrapper {
    flex-direction: row;
    justify-content: space-between;
    height: $navbarHeightMQ600Min;
  }
  .navbar-start {
    margin: 0 0 0 15px;
    width: 150px;
  }
  .navbar-end {
    margin: 0;
    display: flex;
    align-items: center;
    &__item {
      padding: 0 10px;
    }
  }
}
